h1 {
  font-size: 2em;
  text-align: center;
}

.img-flex {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.img-flex img {
  /* flex: 1 1 200px; */
  max-width: 100px;
  height: auto;
}
