.categories {
  max-width: 700px;
  margin: 60px auto;
  padding: 0px 5px;
}

.description {
  margin-bottom: 60px;
}

.img-flex {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.img-flex img {
  flex: 0 1 auto;
  min-width: 100px;
}
