h1 {
  font-size: 2em;
  text-align: center;
}

.categories {
  max-width: 900px;
  margin: 60px auto;
}

.description {
  margin: 20px auto;
}

.img-flex {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.img-flex img {
  flex: 0 1 auto;
  min-width: 100px;
}
