/* Opening Content */

.opening {
  background-image: url(/images/pexels-jonathan-cooper-9660891.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  position: relative;
  text-align: center;
  background-position-y: 50%;
}

.opening .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlay-text h1,
p {
  color: #fff;
  margin: 0;
}

.overlay-text h1 {
  font-size: 22px;
}

/* Overview Content */

.content-overview {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.content-img {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  position: relative;
  text-align: center;
  margin: 5px 0;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 67, 97, 0.5);
}

.overlay-text a {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
}

.cta a {
  font-size: 14px;
}

.events {
  background-image: url(/images/pexels-abby-kihano-431722.jpg);
  background-position-y: 100%;
}

.exhibitions {
  background-image: url(/images/mammoth-1257288_1920.jpg);
  background-position-y: 50%;
}

.explore {
  background-image: url(/images/samuel-zeller-158996.jpg);
  background-position-y: 48%;
}

.visit {
  background-image: url(/images/scott-webb-102825.jpg);
  background-position-y: 35%;
}

.get-involved {
  background-image: url(/images/pexels-ron-lach-9196478.jpg);
  background-size: auto;
  background-position-y: 50%;
  background-position-x: 20%;
}

.contact {
  background-image: url(/images/jesse-orrico-60373.jpg);
  background-position-y: 20%;
}
