/* Opening Content */

.opening {
  background-image: url(/images/pexels-jonathan-cooper-9660891.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  position: relative;
  text-align: center;
  background-position-y: 50%;
}

.opening-content h2,
p {
  color: #fff;
}

/* Overview Content */

.content-overview {
  display: flex;
  flex-direction: column;
}

.content-overview img {
  min-width: 380px;
  max-height: 200px;
}
