/* From Screen Size 600px */

@media only screen and (min-width: 700px) {
  header {
    min-height: 70px;
    align-items: flex-end;
    padding: 20px 10px 5px;
  }

  .logo {
    margin: 0px 0px 15px 15px;
    font-size: 20px;
  }

  nav {
    display: flex;
    position: static;
    background: #204361;
  }

  nav ul {
    margin: 0px auto;
    display: flex;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .nav-container label {
    display: none;
  }

  .opening .overlay {
    align-items: flex-start;
    justify-content: center;
  }

  .overlay-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 20px;
  }

  .content-overview {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .content-img {
    flex: 1 1 300px;
  }
}

/* From Screen Size 1000px */

@media only screen and (min-width: 900px) {
  header {
    min-height: 100px;
    padding: 20px 20px 5px;
  }

  .logo {
    margin: 0px 0px 45px 20px;
    font-size: 24px;
  }

  nav li {
    font-size: 20px;
  }

  .opening {
    min-height: 250px;
  }

  .cta {
    transition-duration: 0.4s;
  }

  .cta:hover {
    background-color: #106497;
  }

  .content-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px 40px 0px 40px;
    gap: 25px;
  }

  .content-img {
    flex: 1 1 350px;
  }
}

@media only screen and (min-width: 1600px) {
  .opening {
    min-height: 300px;
  }

  .content-img {
    flex: 1 1 450px;
  }
}
