/* From Screen Size 700px */

@media only screen and (min-width: 700px) {
  header {
    min-height: 70px;
    align-items: flex-end;
    padding: 20px 10px 5px;
  }

  .logo {
    margin: 0px 0px 15px 15px;
    font-size: 20px;
  }

  nav {
    display: flex;
    position: static;
    background: #204361;
  }

  nav ul {
    margin: 0px auto;
    display: flex;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .nav-container label {
    display: none;
  }

  /* INDEX*/

  .opening .overlay {
    align-items: flex-start;
    justify-content: center;
  }

  .overlay-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 10px 45px; */
  }

  .opening .overlay-text {
    margin: 45px;
  }

  .overlay-text h1 {
    font-size: 28px;
  }

  .opening .cta {
    margin-left: 45px;
  }

  .content-overview {
    display: flex;
    flex-direction: row;
    margin: 25px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .content-img {
    flex: 1 1 300px;
  }
}

/* From Screen Size 900px */

@media only screen and (min-width: 900px) {
  header {
    min-height: 100px;
    padding: 20px 20px 5px;
  }

  .logo {
    margin: 0px 0px 30px 20px;
    font-size: 24px;
  }

  nav a {
    font-size: 20px;
  }

  /* INDEX*/

  .opening {
    min-height: 250px;
  }

  .cta {
    transition-duration: 0.4s;
  }

  .cta:hover {
    background-color: #204361;
  }

  .overlay-text a {
    font-size: 2em;
  }

  .content-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    gap: 25px;
  }

  .content-img {
    flex: 1 1 350px;
    min-height: 300px;
  }

  .get-involved {
    background-position-y: 50%;
    background-position-x: 20%;
  }

  /*Visit & Contact*/

  .contact-page h1 {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1600px) {
  nav a {
    font-size: 24px;
  }

  /* INDEX*/

  .opening {
    min-height: 350px;
  }

  .content-overview {
    margin: 65px;
  }

  .content-img {
    flex: 1 1 450px;
  }
}
