@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

Body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
}

/* Header */
