@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjord+One&family=Montserrat:wght@700&display=swap");

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 20px; */
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  margin: 0px;
}

main {
  padding: 20px 5px;
  margin: 10px 0px;
}

.index-main {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.cta {
  background-color: #f67c57;
  color: #000;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 16px;
  font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contact-cta {
  text-align: center;
}

/* Header */

Header {
  background-color: #204361;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.logo a {
  color: #fff;
  font-family: "Fjord One", "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}

.wrap-span {
  display: block;
}

.on-page {
  color: #f67c57;
}

.fa-bars {
  color: #fff;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

.nav-container {
  position: relative;
}

.nav-container label {
  padding: 20px;
}

nav {
  position: absolute;
  right: 0px;
  z-index: 1;
  background: #204361;
  top: 30px;
}

#hamburger-menu:checked ~ nav {
  display: block;
  width: 150px;
}

nav ul {
  list-style-type: none;
  padding-left: 10px;
}

nav li {
  padding: 5px 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

nav a {
  color: #fff;
}

/* Footer */

footer {
  background-color: #204361;
  color: #fff;
  padding: 20px 5px 20px 15px;
}

.flex-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer a {
  color: #fff;
}

.social-media {
  font-size: 30px;
  display: flex;
}

.visit-us p {
  margin: 0px;
}

.visit-us {
  margin-bottom: 10px;
}

.social-media > * {
  margin-right: 10px;
}

.content-list p {
  text-transform: uppercase;
  margin: 10px 0px;
}

.sign-up {
  margin: 25px 0px 15px 0px;
  max-width: 220px;
}

.address {
  font-size: 14px;
}
