@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

Body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 20px; */
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}

.cta {
  background-color: #f67c57;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 35px;
  font-size: 14px;
  font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Header */

Header {
  background-color: #204361;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

header p {
  color: #fff;
}

.on-page {
  color: #f67c57;
}

.fa-bars {
  color: #fff;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

.nav-container {
  position: relative;
}

.nav-container label {
  padding: 20px;
}

nav {
  position: absolute;
  right: 0px;
  z-index: 1;
  background: #fff;
  top: 55px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #0b3b59;
}
