.thank-you {
  text-align: center;
  margin: 50px auto;
  border: 1px solid #0b3b59;
  padding: 10px 15px;
  max-width: 40%;
}

h2 {
  margin-bottom: 50px;
}

.thank-you p {
  margin: 25px auto;
}

.thank-you a {
  text-decoration: underline;
}

.fa-check-circle {
  margin: 20px 0px;
  font-size: 35px;
  color: green;
}
