.visit {
  margin: 60px auto;
  max-width: 700px;
}

.map {
  position: relative;
  text-align: right;
  height: 400px;
  max-width: 700px;
  min-width: 300px;
}

.hours p {
  line-height: 5px;
}

.bold {
  font-weight: bold;
}

h2 {
  margin-top: 50px;
}

.contact-page {
  max-width: 700px;
  margin: 100px auto;
}

.contact-page h2 {
  margin-bottom: 45px;
  text-align: center;
}

input,
select,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.button input {
  border: none;
}

.form-wrapper {
  text-align: left;
  margin-top: 35px;
}

.form-wrapper > * {
  display: flex;
  flex-direction: column;
}

.contact-info {
  margin: 35px 0;
}

.contact-info p {
  line-height: 5px;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-snapchat-square,
.fa-twitter-square {
  font-size: 30px;
  margin-right: 15px;
}
